.sidebarOptions {
  padding: 15px;
  margin-top: 5px;

  &:hover {
    background-color: lightgray;
    color: black;
  }
}

.avatar__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  .avatar {
    font-size: 85px;
    color: red;
  }
}

.active {
    background-color: lightgray;
    color: black;
}